<div class="col-md-4">
  <h1> <%= @registered_applications.name %> </h1>
  <h2> <%= @registered_applications.events.count %>
</div>
  <%= link_to "Delete App?", @registered_applications, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
